@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #00e5ff; /* slate-500 */
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #00e5ff3a;
    border-radius: 9999px;
  }
}
